fieldset{
    margin-top: 20px;
}

a{
    color: white;
    font-family: Calibri;
    padding: 40px;
    text-decoration: none;
}


a:hover{
    font-weight: bold;
    text-decoration: underline;
}

a:active{
    color: lightpink;
    text-decoration: none;
}

#clientes, #funcionarios, #imóveis{
    background-color: white;
    opacity: 0.8;
    margin: 0px 40px;
    padding: 10px;
    height: auto;
    overflow: auto;
    border: 1px solid black;
    float: bottom;
}

#myNavbar{
    text-align: center;
}

.caracteristicas{
    margin: 30px;
    float: left;
}

.armarios{
    margin: 2px;
}

