fieldset{
    margin-top: 20px;
}

#clientes, #funcionarios, #imóveis{
    background-color: white;
    opacity: 0.8;
    margin: 0px 40px;
    padding: 10px;
    height: auto;
    overflow: auto;
    border: 1px solid black;
    float: bottom;
}

.caracteristicas{
    margin: 30px;
    float: left;
}

.armarios{
    margin: 2px;
}

