#logo{
    text-align: left;
    height: 50px;
    float: left;
    margin: auto;
}

#mynavbar{
    font-size: 18px;
}

.navbarColor01{
    color: white;
    text-decoration-color: white;
}

a{
    color: white;
    font-family: Calibri;
    padding: 40px;
    text-decoration: none;
}


a:hover{
    font-weight: bold;
    text-decoration: underline;
}

a:active{
    color: lightpink;
    text-decoration: none;
}

.container1{
    background-image: url("img/imagem4.jpg");
    background-size: auto;
    background-repeat: repeat;
    height: 400px;
    background-color: white;
    opacity: 0.7;
    color: black;
}

.container2{
    background-color: white;
    height: 250px;
    text-align: center;
}

.container3{
    background-color: black;
    color: white;
    padding: 10px;
    height: 250px;
    width: 100%;
}

.boasVindas{
    color: black;
    text-align: center;
    padding: 100px;
}

.missao{
    font-size: 20px;
    padding: 80px;
}

.valores{
    text-align: center;
    font-size: 18px;
    padding: 60px;
}


div.body{
    background-color: white;
}