body{
    background-image: url("img/parede_8.jpg");
    background-size: auto;
    background-repeat: repeat;
}

nav{
    width: 100%;
    height: 80px;
    background-color: black;
    padding: 20px;
}


#logo{
    text-align: left;
    height: 50px;
    float: left;
    margin: 0px 200px 0px 0px;
}


a{
    color: white;
    font-family: Calibri;
    padding: 40px;
    text-decoration: none;
}


a:hover{
    font-weight: bold;
    text-decoration: underline;
}

a:active{
    color: lightpink;
    text-decoration: none;
}

.valores, .missao, .boasVindas{
    background-color: white;
    opacity: 0.8;
    margin: 0px 40px;
    padding: 10px;
    height: auto;
    overflow: auto;
    /* border: 1px solid black; */
    float: bottom;
}


div.body{
    background-color: white;
}

.filtro {
    margin: 0px 40px;
    padding: 10px;
}

/* .filtro > form {
    width: 100%;
} */

.resultado {
    margin: 0px 40px;
    padding: 10px;
    background-color:rgba(200, 200, 200);
}